<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380426355967-p3133holdvbgfqsbe6ve4brn8ajf24cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380426355967-p3133holdvbgfqsbe6ve4brn8ajf24cp</string>
	<key>API_KEY</key>
	<string>AIzaSyB1XAM98tvRdeMSrhTG7tVuftmrd3n6Wdk</string>
	<key>GCM_SENDER_ID</key>
	<string>380426355967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junghee.hanyangFlutterProject</string>
	<key>PROJECT_ID</key>
	<string>hanyang-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>hanyang-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380426355967:ios:4efc8976253d711fd6b8ca</string>
</dict>
</plist>